.section
{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .container
{
    padding: 0px 60px;
    background-color: #F7F9FA;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-height: 100vh;

    font-size: 1.5em;
    border: 1px solid rgba(33,33,33,0.8);
}