.lectureList
{
    margin-bottom: 50px;
    position: relative;
    width:100%;
    height:100%;
}

.lectureList .content
{
    padding: 30px 50px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(33,33,33,0.8);
}

.lectureList .content .status
{
    position: relative;
    display: flex;
}

.lectureList .content .status .watched
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lectureList .content .status .watched .circle
{
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

.lectureList .content .status .assignment
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lectureList .content .status .assignment .circle
{
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}